.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.todoItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #aaa;
  width: 75%;
  justify-content: center;
  text-align: center;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.todoList {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  box-shadow: 0px 8px 0px -4px red, 0px 16px 0px -8px orange,
    0px 24px 0px -12px green;
}

.contactcard {
  border: 1px solid black;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 10px auto;
  background-color: white;
}

.contactcard img {
  width: 100px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
